a {
    text-decoration: none;
    color: #411501;
}

h1{
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    color: #3b1300;
    visibility: hidden;
}

h2 {
    font-size: 4.2em;
    font-family: 'Outfit', sans-serif;
    color: #A0522D;
    text-align: center;
    padding: 30px 30px;
}

h3{
    font-size: 2.2em;
    font-family: 'Outfit', sans-serif;
    color: #A0522D;
}

body {
    font-size: 0.998em;
    color: #3b1300;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    background-color: #FFE4B5;
}
li{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
nav{
    text-align: center;
    background-color: #A0522D;
    margin-top: 10px;
}
header img{
    width: 120px;
    margin: 0 auto;
    display:block;
}

#container{
    width: 960px;
    margin: 0 auto;
}

.imagemCafe img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#principal{
    display: flex;
    flex-direction: row;
    width: 960px;
    justify-content: space-between;
}

.sectionImagem{
    padding-top: 10px;
    display: flex;
    width: 200px;
}

.titulo{
    width: 450px;
    padding-top: 20px;
}

.section{
    width: 300px;
    height: 300px;
    padding-top: 30px;
    font-size: medium;
    justify-content: space-between;
}

#alinhar{
    display: flex;
    flex-direction: row;
    width: 960px;
    justify-content: space-between;
}